{% set css_class = 'w-3/4' if expanded else 'w-20' %}
<aside
      id="sidebar"
      class="fixed top-0 left-0 {{ css_class }} z-40 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar"
      hx-target="#sidebar"
      hx-swap="outerHTML"
      >
          <div
        >
        <button
        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded"
        hx-get="/sidebar?expanded=true"
      >
        <div class="p-4">
          &gt; &gt; &gt; &gt;
        </div>
      </button>
    </aside>