
<aside
      id="sidebar"
      class="fixed top-0 left-0 w-10 z-40 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar"
      hx-target="#sidebar"
      hx-swap="outerHTML"
      >
        <div class="p-1">

        <button
        class="w-full p-4 bg-grey-500 hover:bg-blue-700 text-white font-bold py-96 rounded"
        hx-get="/sidebar?expanded=true"
      >
          &gt; &gt; &gt; &gt;
        </div>
      </button>
    </aside>