{% extends "/shared/_base.html" %} {% block content %}

<div id="mainContent">
  <div style="position: fixed; right:10%; top: 300px; z-index: 99; max-width: 200px;">

    <h3>Page: {{page + 1}}</h3>
    <h3>Limit: {{limit}}</h3>
    <div>

      {% if page > 0 %}
        <a href="/tset/{{ ts_id }}?page={{ page - 1 }}&limit={{ limit }}"
          > &lt; &lt; &lt; &lt; Previous Page</a
        >
        {% endif %} {% if not last_page %}
        <!-- Assuming you have a boolean variable 'last_page' to indicate the end of the pages -->
        <a href="/tset/{{ ts_id }}?page={{ page + 1 }}&limit={{ limit }}"
          >Next Page &gt; &gt; &gt; &gt;</a
        >
        {% endif %} {% if done %} ALL COMPLETE {% else %}
        {% endif %}
    </div>
    <br/><br/>
    <div>
      <a href="/tset/{{ts_id}}/upload">re-upload</a>
    </div>
    <div>
      <button
        hx-delete="/tset/{{ts_id}}/category"
        hx-swap="none"
      >Reset ALL Categories</button>
    </div>

    <div>
        <a href="/">View All Batches</a>
    </div>

    <div hx-get="/api/tset/{{ts_id}}/headers" hx-trigger="load">
      <div hx-swap="outerHTML" hx-target="#form-container"></div>
  
      <div id="form-container">
          <!-- The form content will be injected here -->
      </div>
    </div>
   
  </div>
  <div>
  <!--<div style="height: 300px" hx-ext="echarts" hx-trigger="load" hx-get="/tset/{{ ts_id }}/chart?mode=1"></div>
  <div style="height: 300px" hx-ext="echarts" hx-trigger="load" hx-get="/tset/{{ ts_id }}/chart?mode=2"></div>-->

</div>
    <table>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
      </tr>
      <!-- Now iterate over rows and values -->
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction[3] }}</td>
        <td>{{ transaction[4] }}</td>
        <td>{{ transaction[5] }}</td>
        {% if transaction[7] %}
        <td>
          {{ transaction[7] }}
          <button
            hx-delete="/tset/{{ts_id}}/t_id/{{transaction[0]}}/category"
            hx-swap="none"
            >Reset Category</button>
        </td>
        {% else %}
        <td>
          <button
            hx-post="/tset/{{ts_id}}/categorize"
            hx-swap="innerHTML"
            hx-target="#mainContent"
          >
            CATEGORIZE MORE!
          </button>
        </td>
        {% endif %} {% endfor %}
      </tr>
    </table>
  </div>
  {{ response }} {% endblock %}
</div>
