{% extends "/shared/_base.html" %} {% block content %}

<a href="/tset/{{ts_id}}/upload">back</a>

header_set: {{ header_set }} is_existing {{ is_existing }}

<button hx-post="/tset/{{ts_id}}/categorize" hx-swap="outerHTML this">
  CATEGORIZE 33!
</button>
<table>
  <tr>
    {% for head in headers %} {% if head == header_set.amount %}
    <th class="highlight">{{ head }}</th>
    {% elif head == header_set.date %}
    <th class="highlight">{{ head }}</th>

    {% elif head in header_set.description %}
    <th class="highlight">{{ head }}</th>

    {% else %}
    <th>{{head}}</th>
    {% endif %} {% endfor %}
  </tr>

  <!-- Now iterate over rows and values -->
  {% for values_list in rows_as_lists %}
  <tr>
    {% for value in values_list %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<a href="/tset/{{ts_id}}/upload">back</a>
{% endblock %}
