{% extends "/shared/_base.html" %} {% block content %}

<div>
  <i>tip: be sure to 'include headers' when exporting for best results</i>
</div>

<div hx-target="this" hx-swap="outerHTML">
  <button hx-get="/tset/{{ new_ts_id }}/upload" class="btn btn-primary">
    New upload
  </button>
</div>

<h3>Existing Uploads</h3>
<div>
  {% for set in sets %}
  <div>
    <a href="/tset/{{ set[0] }}">{{set[0]}} Transactions: {{set[2]}}</a>
    <sub>{{set[1]}}</sub>
    <div hx-target="this" hx-swap="outerHTML">
      <button hx-delete="/tset/{{ set[0] }}" class="btn btn-primary">
        Delete
      </button>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
