<form
  id="update-form"
  hx-put="/api/tset/{{ts_id}}/headers"
  enctype="multipart/form-data"
  style="flex: auto"
>
  <h2>{{ message }}</h2>
  <label for="amount">Amount:</label>
  <input
    type="text"
    name="amount"
    id="amount"
    required
    value="{{amount_head}}"
  /><br />

  <label for="date">Date:</label>
  <input
    type="text"
    name="date"
    id="date"
    required
    value="{{date_head}}"
  /><br />

  <label for="description">Description:</label>
  <input
    type="text"
    name="description"
    id="description"
    required
    value="{{description_head}}"
  /><br />

  <label for="custom_rules">Custom Rules:</label>
  <textarea
    name="custom_rules"
    oninput="adjustHeight(this);"
    onclick="adjustHeight(this);"
  ></textarea>
  <br />
  <label for="custom_categories">Custom Categories:</label>
  <script>
    function adjustHeight(textarea) {
      console.log("adjustHeight");
      textarea.style.height = "auto";
      textarea.style.height = textarea.scrollHeight + 30 + "px";
    }
  </script>
  <textarea
    id="dynamicTextarea"
    name="custom_categories"
    oninput="adjustHeight(this);"
    onclick="adjustHeight(this);"
  >
{{custom_categories}}</textarea
  >

  <input type="submit" value="Update Record" />
</form>
