<form
  id="update-form"
  hx-post="/api/tset/{{ts_id}}/headers"
  enctype="multipart/form-data"
>
  <h2>{{ message }}</h2>
  <label for="amount">Amount:</label>
  <input
    type="text"
    name="amount"
    id="amount"
    required
    value="{{amount_head}}"
  /><br />

  <label for="date">Date:</label>
  <input
    type="text"
    name="date"
    id="date"
    required
    value="{{date_head}}"
  /><br />

  <label for="description">Description:</label>
  <input
    type="text"
    name="description"
    id="description"
    required
    value="{{description_head}}"
  /><br />

  <label for="custom_rules">Custom Rules:</label>
  <textarea type="text" name="custom_rules" value="{{custom_rules}}"></textarea>

  <label for="custom_rules">Override Categories:</label>
  <textarea
    type="text"
    name="override_categories"
    value="{{override_categories}}"
  ></textarea>

  <input type="submit" value="Update Record" />
</form>
